body {
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    margin: 0;
    width: 31rem;
    background-color: rgba(220, 220, 220, 0.6);
    border-radius: 20px;
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgba(160, 160, 160, 0.75);
}

.option {
    background-color: rgb(250, 55, 55);
}

.option:hover {
    background-color: rgba(200, 20, 20, 0.75);
}


.numbers {

    height: 100px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-size: 35px;
    font-weight: bold;
}