body {
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.main {
    margin: 50px auto; /* slightly adjusted for demonstration */
    width: 31rem;
    background-color: rgba(255, 255, 255, 0.15); /* changed opacity to 0.15 for glass effect */
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* soft shadow */
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
}

button:hover {
    background-color: rgba(160, 160, 160, 0.75);
}

.option {
    background-color: rgb(250, 55, 55);
}

.option:hover {
    background-color: rgba(200, 20, 20, 0.75);
}

#display {
    height: 100px;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    text-align: left;
    border: none;
    background-color: white;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
}

input:focus {
    outline: none;
}